{
 "success": true,
 "items": [
 {
 	xtype: 'panel',
 	layout: 'fit', flex: 1,
 	title: 'Open',
 	items: [
		  {
		    xtype: 'grid',	
			flex: 1, autoHeight: true, padding: 10, overflow: 'auto', height: 500,
		    
		    store: new Ext.data.Store({
		    	autoLoad: true,
		    	fields: [],
		    	proxy: {
		            url: 'orders/get_rows',
		            reader: {
		                type: 'json',
						method: 'POST',        	                
		                rootProperty: 'items'
		            },
		            paramsAsJson: true,
					method: 'POST',
					type: 'ajax',
		
					//Add these two properties
					actionMethods: {
						read: 'POST'
					}        	            
		            
		        }
		    }),
		
		    columns: [
		        { text: 'Order-Id',  dataIndex: 'order_identifier' },
		        { text: 'Del',  dataIndex: 'created_on' },
		        { text: 'Cliente', width: 150,  dataIndex: 'customer_id', renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
		        		if ( Ext.isEmpty(rec.get('customer_id')) == true )
			         		return '<span style="color: red">' + rec.get('customer_mc').mc_id + '</span>';
						return '<span style="color: green">' + rec.get('customer').name + '</span>';			         		
			        }		 
			    },
		        { text: 'Pagato il',  dataIndex: 'paid_on' },
		        { text: 'Spedito il',  dataIndex: 'shipping_on' },
		        { text: 'Products', dataIndex: 'products_value', flex: 1, align: 'right', renderer: euro2},		        
		        { text: 'Total', dataIndex: 'total_value', flex: 1, align: 'right', renderer: euro2}
		    ],
		    
		    listeners : {
						    itemdblclick: function(dv, rec, item, index, e) {						    	
						    	acs_show_panel_std(dv.up('tabpanel'), '<%= url_for(:action=>'order_detail') -%>', {rec_id: rec.get('id')});						    	
						    }, scope: this
						}
		    
		  }
	]
  }
 ]
}
